@charset "UTF-8";

@media screen and (max-width: 600px) {

    header > nav{
        flex-flow: column nowrap;
    }

    header{
        flex-flow: column nowrap
    }
    header>h1{
        flex-basis: 50px;
    }
    header > nav{
        width: 90vw;
    }
}