@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif ;
    /*height: 100%;*/
}

body{

    background-image: linear-gradient(to right,#011F26,#347355);

}

p{
    text-align: justify;
    color: #03A688;
}
main{
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 20px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
    color: #011F26;
    text-shadow: 1px 1px 1px #03A688;

}

h2{
color:#026873
}
